.App {
    background-color: #282c34;
}

.App-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App-text {
    color: #ffffff;
    
}

.App-button {
    flex: 1;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-image {
    border-radius: 10%;
    width:  30%;
    background-color: #ffffff;
}

.App-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.App-footer-div {
    font-size: 5pt;
}