button:focus {
    outline:0;
}

body {
    margin: 0;
    max-height: 100vh;
    color: $text-color;
}

.App {
    background-color: #282c34;
}

.App-body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #4f4f4f;
    box-sizing: border-box;
}

.App-text {
    color: #ffffff;
}

.App-button {
    flex: 1;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-image {
    border-radius: 10%;
    width: 30%;
    background-color: #ffffff;
}

.App-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.App-footer-div {
    font-size: 5pt;
}

/* Record画面のタイトル */

.App-body_reco-header {
    font-size: 2.75rem;
    text-align: center;
    line-height: 3.75rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.App-body_reco-header-muzzle {
    font-size:3rem;
    background: linear-gradient(transparent 60%,$main-color 40%);
}

.App-body_select {
    width: 340px;
    padding: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: $main-color;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6rem;
    margin: 4rem auto;
}

/* Record画面のボタン */

.App-body_reco-start, .App-body_reco-stop {
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 18px solid;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-body_reco-start img, .App-body_reco-stop img {
    width: 1.75rem;
}

.App-body_reco-start {
    color: $main-color;
    background-color: #ffffff;
    border-color: $main-color;
}

.App-body_reco-stop {
    color: #ffffff;
    background-color: $main-color;
    border-color: #ffffff;
}

.App-body_reco-img {
    position: absolute;
    bottom: 0;
    width: 20rem;
}