.List-body {
    background-repeat: no-repeat;
    background-size: contain;
}

.App-body_rank-list {
    z-index: 1;
    width: 90vw;
    margin: 0 auto;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.List li {
    list-style: none;
}

.List-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 0 0 1rem;
    margin: 0.4rem 0;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
    justify-content: space-between;
}

.List-item_rank {
    width: 2rem;
}

.List-item_muzzle-word {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: left;
    width: 7.5rem;
}

.List-item_muzzle-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    width: 3.5rem;
    text-align: right;
}

.List-item_muzzle-count-txt {
    font-size: 0.75rem;
    margin-left: 0.1rem;
}

.List-item_go-to-right{
    display: flex;
    align-items: center;
}

.List-item_about {
    font-size: 1.25rem;
    font-weight: bold;
    background-color:#FFA621;
    border: none;
    color: white;
    padding: 1.5rem 1rem;
    margin-left: 1rem;
    border-radius: 0 12px 12px 0;
    width: 6rem;
}

.App-body_rank-head {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    z-index: 1;
    color: #fff;
}

.App-body_rank-head img {
    height: 8rem;
    width: 3.5rem;
}

.App-body_rank-header {
    text-align: center;
    line-height: 2.75rem;
}

.App-body_rank-header-top {
    font-size: 2.75rem;
    letter-spacing: 0.25rem;
}

.App-body_rank-announce{
    font-size: 1.25rem;
    font-weight: bold;
    width: 80%;
    text-align: left;
    margin-bottom: 0;
}


/* .background-circle {
    position: absolute;
    left: -222px;
    top: -374px;
    border-radius: 50%;
    z-index: 0;
    background: $main-color;
    width: 700px;
    height: 700px;
} */